body,
html {
  width: 100%;
  height: 100%;
}

body {
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Josefin Sans', sans-serif;
  overflow: auto;
  background: white;
  /* background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 38%, rgba(97,36,92,1) 50%, rgba(0,0,0,1) 62%); */
}

header p {
	/*margin-top: 50px;*/
	/* background-color: black; */
}

h2 {
  width: 30px;
}

.intro {
  display:flex|inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 13%;
}

p, h2 {
	/* margin-top: 70px; */
	color: #FFFFFF;
}

header.startup {
	display: flex;
	align-items: flex-start;
	background-image: url("path.jpg");
	background-position: center;
	background-size: cover;
	height: 100%;
  width: 100%;
  box-shadow: 5px 7px 10px rgba(113, 39, 107, 0.35);
  overflow: scroll;
  overflow-x: hidden;
}

header.startup:hover {
  box-shadow: 5px 7px 10px rgba(252, 0, 231, 0.35);
}

/* properties to apply when screen width is less than
 * or eaqual to 600px. This is a media query*/
@media only screen and (max-width: 770px) {
    header {
        font-size: 1em;
        padding: 0;
    }

    .collapse {
      display: none;
    }
}

p a {
	color: #B76E7A;
}

p a:hover {
  color: #994956;
}

.shadow-pink:hover {
  /* box-shadow: 5px 5px 5px rgba(113, 39, 107, 0.7); */
  box-shadow: 3px 3px 7px 4px rgba(183, 110, 122, 0.7);
}

.shadow-pink-perm {
  box-shadow: 2px 2px 2px 2px rgba(183, 110, 122, 0.7);
}

.black-hover:hover {
  background: rgba(0, 0, 0, 0.9);
}

.white {
  color: white;
}

.no-link-style:hover {
  text-decoration: none;
}

.no-link-style:visited {
  text-decoration: none;
}

.hover-pink:hover {
  /* color: #DC00C9; */
  color: #B76E79;
}

.hover-green:hover {
  color: #B76E7A;
}

.hidden {
  display: none;
}

/*.nav {
	background-color: black;
}*/

.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
  background-color: white;
  color: black;
  cursor: cell;
}

.nav-tabs .nav-link {
  border: none;
}

.nav a {
	color: white;
}

/* .nav a:hover {
	color: #32FC08;
} */

/* .nav-link:hover {
  border: none;
} */

.nav-item {
	color: white;
}

.dropdown-menu {
	background-color: black;
	opacity: 0.8;
}

.dropdown-menu a:hover {
  color: #316A25;
}

.rubberBand {
  animation-duration: 6s;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

.rubberBand:Hover {
	animation-iteration-count: infinite;
}

.fit-picture {
	margin-top: 20px;
	width: 250px;
  margin-bottom: 20px
}

.btn {
	margin-top: 20px;
    border-radius: 23px;
    font-family: 'Montserrat', sans-serif;
}

.btn-primary {
	background-color: #B76E7A;
	border-color: #B76E7A;
}

.btn-primary:hover {
	/* background-color: #A11B96; */
  /* background: rgba(161, 27, 150, 0.9); */
  background: rgba(153, 73, 86, 0.9);
	border-color: #994956;
	/* border-color: #A11B96;  */
	border-width: 5px; /*change to 0px*/
	cursor: pointer;
	font-size: 1.5em;
}

.LI-profile-badge {
	display: flex;
	align-items: center;
}

/* PROJECT STYLE */
.Projects {
  /* background-color: black; */
  /* border: 1px solid; */
  /* border-color: #888888; */
  /* margin-top: 20px; */
  /* background-color: #3A7126; */
  display: flex;
	align-items: flex-start;
  background-size: cover;
  height: 100%;
  background: rgb(255,255,255);
  /* background: linear-gradient(90deg, rgba(255,255,255,0.6082633737088585) 28%, rgba(183,110,122,0.19089642693014708) 51%, rgba(255,255,255,1) 73%); */
  background-repeat: repeat-y;
  overflow: scroll;
  margin-bottom: 3%;
}

#Projcts h2 {
  color: black;
}

/* The device with borders */
.smartphone {
  position: relative;
  width: 360px;
  height: 610px;
  margin: 0 auto;
  padding: -0px -20px;
  margin-top: 10%;
  margin-bottom: 1%;
  border: 16px black solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
  border-color: #B76E79;
  border-color: #FFFFFF;
}

/* The horizontal line on the top of the device */
.smartphone:before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}

/* The circle on the bottom of the device */
.smartphone:after {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 50%;
}

/* The screen (or content) of the device */
.smartphone .content {
  width: 100%;
  height: 100%;
  background: white;
}

.project-details {
  position: relative;
  margin: 0 auto;
  margin-top: 5%;
  text-align: center;
  justify-content: center;
  /* text-decoration-style: solid; */
}

ul {
  list-style-type: circle;
}

*, ::after, ::before {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.talkbubble {
  position: relative;
  width: 300px;
  height: 50%;
  padding: 10px;
  border-radius: 5px;
  border: solid rgba(244, 209, 215, .90);
  background: rgba(255, 255, 255, 0.5);
}

.talkbubble:before {
  content:"";
  position: absolute;
  right: 100%;
  top: 26px;
  width: 0;
  height: 0;

  border-top: 13px solid transparent;
  border-right: 26px solid rgba(244, 209, 215, .9);
  border-bottom: 13px solid transparent;
}

.talkbubble textarea {
  position: inherit;
  width: inherit;
  height: inherit;
  background: inherit;

  margin: 0;
  padding: 0;

  border: none;
  resize: none;
}

#Flixter {
  display: none;
}

footer {
  position: relative;
  margin: auto 0;
}
