body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;  
}

p {
	/*margin-top: 50px;*/
	background-color: black;
}

p, h2 {
	margin-top: 30px;
	color: #FFFFFF;
}

header.startup {
	display: flex;
	align-items: flex-start;
	background-image: url("NewYork.jpg");
	background-position: center;
	background-size: cover;
	height: 100%;
}

a {
	color: #DC00C9;
}

.rubberBand {
  animation-duration: 6s;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

.rubberBand:Hover {
	animation-iteration-count: infinite;
}

.fit-picture {
	margin-top: 30px;
	width: 250px;
}

.btn {
	margin-top: 30px;
    border-radius: 23px;
    font-family: 'Montserrat', sans-serif;  	
}

.btn-primary {
	background-color: #DC00C9;
	border-color: #DC00C9;
}

.btn-primary:hover {
	background-color: #A11B96;
	border-color: #A11B96!important;
	border-width: 5px;
	cursor: pointer;
	font-size: 1.5em;
}

.LI-profile-badge {
	display: flex;
	align-items: center;
}